/* 
****** FORMATAÇÃO GERAL DA PÁGINA ******
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #fff url(images/fundo.png) repeat-x top;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* 
****** FORMATAÇÃO ESTRUTURAL ******
*/

#main-container{
    width: 750px;
    margin: 0 auto;
}

#header{
    height: 150px;
    background: url(images/detalhe-topo.png) no-repeat top right;
    padding-top: 25px;
}

.logo {
    height: 66px;
    width: 152px;
    background: url(images/logo.png) no-repeat center;
    text-indent: -3000px;
}

#header ul {
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#header ul li {
    float: left;
}

#header ul a {
    font-size: .9em;
    text-decoration: none;
    display: block;
    padding: .5em 1.5em;
    line-height: 2.1em;
    color: #fff;
    background: url(images/divisor.png) no-repeat left center;
}

#header ul .primeiro a{
    background: none;
}

#content{
    margin-top: 60px;
}

#lateral{
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}

#tres-colunas #primario{
    width: 270px;
    margin: 0 0 20px 194px;
    float: left;
}

#duas-colunas #primario{
    width: 555px;
    margin: 0 0 20px 194px;
    float: left;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
    float: left;
}

#secundario{
    width: 270px;
    margin: 0 0 20px 14px;
    float: left;
}

.box{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(images/fundo-caixa.png);
}

h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.content-box{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#header a,
.entrevista .content-box a,
.destaque .content-box a {
    font-weight: bold;
}

#lateral ul a {
    font-size: .9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: .9em;
    background-color: #fff;
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: .8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: #de003e;
}

#notices-list li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#notices-list li a img {
    float: left;
    margin: 5px;
}

#notices-list li a {
    text-decoration: none;
}

#notices-list li a h3 {
    font-size: .8em;
    padding: 0;
    color: #3e7ab9;
}

#notices-list li a p {
    font-size: .7em;
    color: #000;
}

.legislacao h3{
    font-size: 1em;
    padding-left: 5px;
    background: #b10333;
    color: #fff;
    display: block;
}

#container-rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

#manutencao {
    text-align: center;
    margin-top: 70px;
    font-size: .9em;
    color: #3e7ab9;
}

/* 
****** FORMATAÇÃO DE LINKS ******
*/

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

#header ul a:hover{
    color: #69001d;
}

body.home #nav-principal a#home,
body.brasil #nav-principal a#brasil,
body.internacional #nav-principal a#internacional,
body.economia #nav-principal a#economia,
body.saude #nav-principal a#saude,
body.ciencia #nav-principal a#ciencia,
body.fotos #nav-principal a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(images/marcador.png) no-repeat left center;
    text-indent: 20px;
}

#notices-list li:hover{
    background: #eee;
    cursor: pointer;
}