* {
    margin: 0;
    padding: 0;;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

#header {
    background: #FFC300;
    text-align: center;
    margin: 7px 0;
    padding: 20px;
}

#content{
    width: 960px;
    margin: 15px auto;
}

.name-blog{
    padding-bottom: 15px;
}

.name-blog > h1{
    display: inline;
    font-size: 2.5em;
}

.posts {
    background: #FFF;
    width: 660px;
    margin-bottom: 20px;
    padding: 20px;
    float: left;
}

.posts > h2 {
    color: #FFC300;
}

.date{
    font-size: .8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid grey;
}

.posts > img {
    display: block;
    margin: 10px auto;
}

.recent-posts {
    width: 240px;
    float: right;
}

.recent-contents{
    background: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

.recent-contents > h3 {
    background: #CCC;
    padding: 5px;
}

.recent-contents > p , .recent-contents > a{
    font-size: .8em;
}

.categories{
    background: #FFF;
    padding: 10px;
    margin-bottom: 20px;
}

.categories > h3 {
    background: #CCC;
    padding: 5px;
}

.rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

/* 
>>>>> FORMATAÇÃO DE LINKS <<<<<
*/

.nav > a{
    margin: 5px;
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
}

.nav > a:link , .nav > a:visited{
    color: #fff;
}

.nav > a:hover {
    background: #fff;
    color:#FFC300;
}

.posts > a {
    text-decoration: none;
}

.posts > a:link, .posts > a:visited {
    color: #FFC300;
}

.posts > a:hover {
    text-decoration: underline;
}

.recent-contents > a {
    text-decoration: none;
}

.recent-contents > a:link, .recent-contents > a:visited {
    color: #FFC300;
}

.recent-contents > a:hover {
    text-decoration: underline;
}

.categories > a {
    text-decoration: none;
    font-weight: bold;
    color: #FFC300;
}